<nav class="navbar navbar-expand-md navbar-dark bg-primary">
<div class="container">
  <a class="navbar-brand" [routerLink]="['/home']">Dating App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/member']" >Matches</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/list']" >Lists</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/messages']">Messages</a>
      </li>            
    </ul>
    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome {{authservice.decodedToken.unique_name}}
      </a>    
      <div class="dropdown-menu" *dropdownMenu>
        <a class="dropdown-item" href="#">Edit</a>        
        <a class="dropdown-item" (click)="loggedOut()">Logout</a>
      </div>
    </div>
    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" name="username" required type="text" placeholder="Username" [(ngModel)]="model.username">
      <input class="form-control mr-sm-2" name="password" required type="password" placeholder="password" [(ngModel)]="model.password">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" [disabled]="!loginForm.valid">Login</button>
    </form>
  </div>
</div>
</nav>